{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div>
                    <h5>Mon Email :</h5>
                    <p>{{ user.email }}</p>
                </div>
                <div>
                    <h5>Mon Pseudo :</h5>
                    <p>{{ user.pseudo }}</p>
                </div>
                <div>
                    <h5>Mon Avatar :</h5>
                    <img src="{{ asset('/build/images/avatar/') }}{{ user.avatar }}" alt="avatar" class="circle">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
