{% extends 'base.html.twig' %}
{% block body %}
    <div class="mdl-grid ipad-about">
        <div class="mdl-cell mdl-cell--6-col width-unset d-flex justify-content-center align-items-center pr-3">
            <img class="logo-crook" src="https://zupimages.net/up/20/18/babp.png" alt="logo" />
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div>
                <h3>À propos </h3>
                <p>
                    La Crook team n'a qu'un seul but : Vous aider à devenir de meilleurs programmeurs et
                    programmeuses
                    en vous apportant des antisèches claires et concises.
                </p>
                <div>
                    <h3>Rapidité</h3>
                    <p>
                        Notre interface vous permet de naviguer en trouvant rapidement ce que vous cherchez.
                    </p>
                </div>
                <div>

                    <h3>Efficacité</h3>
                    <p>
                        Nous avons pensé un site plus efficace que Wikipédia. Impossible ? Et bien pourtant, nous
                        l'avons fait. Finis les explications à rallonge qui finissent par vous perdre. Découvrez
                        maintenant nos antisèches ou bien "sheet" de leurs petits noms.
                    </p>
                </div>
                <div>
                    <h3>Clarté</h3>
                    <p>
                        Le but de ces "sheets" ? Vous expliquer de manière plus pédagogue la notion que vous n'avez
                        pas
                        comprise ou que vous ne connaissez pas.

                    </p>
                </div>
                <div>
                    <h3>Collaboration </h3>
                    <p>
                        Le monde de la programmation est une grande famille où l'entraide est une valeur importante.
                        Tu
                        veux participer à ce mouvement et partager tes connaissances ? Alors sans plus attendre,
                        enregistre-toi sur le site et commence à créer tes premiers sheets !
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}