{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col home-presentation">
            <h1 class="home-title mdl-layout-title mdc-typography-styles-headline1"> Bienvenue sur <\Cr00k></h1>
            <p class="home-downtitle mobile-downtitle">Générateur d'antisèches pour les&nbsp;<span
                        class="word wisteria">Wilders.</span>
                <span class="word belize">Developpeurs.</span>
                <span class="word pomegranate">Wildeuses.</span>
                <span class="word green">Passionné.es.</span>
                <span class="word pomegranate">Crookers.</span>
                <span class="word belize">Developpeuses.</span>
            </p>
        </div>
    </div>
    <hr>
    <div>
        <h4>Sheet ajouté récemment</h4>
    </div>
    {% include 'Components/Sheet/card.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('titleAnimation') }}
{% endblock %}
