{% extends 'base.html.twig' %}
{% block title %}
    Crook - Edition d'un tutoriel
{% endblock %}
{% block body %}
    <div>
        <h1 class="text-align-center">->EditSheet()</h1>
    </div>
    {% include 'Components/Sheet/_form.html.twig' %}
{% endblock %}
