{% extends 'base.html.twig' %}

{% block meta %}
    <meta property="og:title" content="->getSheets()">
    <meta property="og:description" content="Vous bloquez ? Vous trouverez sans doute la réponse sur Crook ! Vous n'avez pas trouvé la réponse n'hésitez pas à poster votre solution !">
    <meta property="og:image" content="public/build/images/logo/__Crook_.png">
    <meta property="og:url" content="{{ url('sheet_index') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="public/build/images/logo/__Crook_.png">
    <meta name="twitter:image:alt" content="Logo de Crook">
{% endblock %}

{% block title %}->getSheets(){% endblock %}

{% block body %}
    <section>
        <h1 class="text-align-center">->getSheets()</h1>
        <div class="mdl-grid">
            {% include 'Components/Sheet/card.html.twig' %}
        </div>
    </section>
{% endblock %}
