{% extends 'base.html.twig' %}

{% block title %}$Crook->getSheet(){% endblock %}

{% block body %}
<div class="container mdl-grid">
    {% include 'Components/Sheet/card.html.twig' %}
</div>
{% endblock %}
