{% extends 'base.html.twig' %}

{% block title %}->getSheets(){% endblock %}

{% block body %}
    <section>
        <h1 class="text-align-center">->getSheets()</h1>
        <div class="mdl-grid">
            {% include 'Components/Sheet/card.html.twig' %}
        </div>
    </section>
{% endblock %}
