{% if app.user %}
    <section>
        <h3 class="text-align-center">Laissez un commentaire</h3>
        {% include '/Components/Tutorial/_formComment.html.twig' %}
    </section>
    <hr>
{% endif %}
<section class="d-flex flex-direction-column align-items-center">
    {% for comment in comments %}
            <div class="comment-cards d-flex w-50 mobile-w-100">
                <div class="mdl-col mdl-cell--4-col d-flex flex-direction-column comment-card-author align-items-center">
                    <img src="{{ comment.user.avatar ? 'https://github.com/' ~ comment.user.avatar ~ '.png?size=300' : asset('/build/images/logo/__Crook_.png') }}"
                         alt="avatar"
                         width="80"
                         height="80"
                    >
                    <p>{{ comment.user.pseudo }}</p>
                </div>
                <div class="mdl-col mdl-cell--8-col">
                    <div class="d-flex flex-direction-column">
                        <date>{{ comment.createAt|date('Y-m-d') }}</date>
                    </div>
                    <div class="">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
</section>

