{% extends 'base.html.twig' %}

{% block title %}$crook->getTurorial(){% endblock %}

{% block body %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    {{ include('Components/Tutorial/card.html.twig') }}
</div>
{% endblock %}
