{% extends 'base.html.twig' %}

{% block title %}->getTutorials(){% endblock %}

{% block body %}
    <section>
        <h1 class="text-align-center">->getTutorials()</h1>
        <div class="mdl-grid">
            {% include 'Components/Tutorial/card.html.twig' %}
        </div>
    </section>
{% endblock %}
