{% extends 'base.html.twig' %}

{% block title %}$crook->getTurorial(){% endblock %}

{% block body %}
<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset">
    {{ include('Components/Tutorial/card.html.twig') }}
</div>
{% endblock %}
