$primary: #1b1b33;
$secondary: #343a40;
$tertiary: snow;

.bck {
    &-primary {
        background-color: $primary;
    }

    &-secondary {
        background-color: $secondary;
    }

    &-tertiary {
        background-color: $tertiary;
    }
}

.text {
    &-primary {
        color: $primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-tertiary {
        color: $tertiary;
    }
}
.text-align {
    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }
}
.d- {
    &flex {
        display: flex;
    }
}
.justify-content {
    &-center {
        justify-content: center;
    }
    &-right {
        justify-content: right;
    }
    &-left {
        justify-content: left;
    }
}
.align-items {
    &-center {
        align-items: center;
    }
}
.m- {
    &0 {
        margin: 0;
    }
    &1 {
        margin: 10px;
    }
    &2 {
        margin: 20px;
    }
    &3 {
        margin: 30px;
    }
    &4 {
        margin: 40px;
    }
    &5 {
        margin: 50px;
    }
}
h {
    &1 {
        font-family: "Rokkitt", sans-serif;
    }
    &2 {
        font-family: "Rokkitt", sans-serif;
    }
    &3 {
        font-family: "Rokkitt", sans-serif;
    }
    &4 {
        font-family: "Rokkitt", sans-serif;
    }
    &5 {
        font-family: "Rokkitt", sans-serif;
    }
}
p {
    font-family: "Ubuntu Mono", sans-serif;
}
label {
    font-family: "Ubuntu Mono", sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.cke_dialog_ui_input_select {
    display: unset;
}

.hljs {
    overflow-x: auto;
    padding: 1em;
}
