.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
}
.demo-drawer-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
  background-color: $color-primary;
}
.h6-navbar{
  color: aliceblue;
}
.logo-navbar{
  height: 50px;
  width: 50px;
}
.mdl-layout__header{
  background-color: $color-primary;
}
