<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% block meta %}{% endblock %}
    {% include 'Components/_navbar.html.twig' %}
</head>
<body>
<main class="mdl-layout__content">
    <div class="page-content content-base">
        {% block body %}
        {% endblock %}
    </div>
</main>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
{% include 'Components/_footer.html.twig' %}
</body>
</html>
