<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
{% include 'Components/_navbar.html.twig' %}
    <section class="mdl-grid page-content content-base">
            {% block body %}{% endblock %}
    </section>
    <footer class="mdl-mini-footer">
        {% include 'Components/_footer.html.twig' %}
    </footer>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
