<div class="mdl-mini-footer__left-section">
    <div class="mdl-logo d-flex align-items-center">
     Crook 2020 © support@crook.fr
    </div>
    <ul class="mdl-mini-footer__link-list">
        <li><a href="{{ path('_about') }}">À propos</a></li>
        <li><a href="{{ path('tutorial_index') }}">Tutoriels</a></li>
        <li><a href="{{ path('sheet_index') }}">Sheets</a></li>
    </ul>
</div>
<div class="mdl-mini-footer__right-section">
    <div class="mdl-logo d-flex align-items-center">
        Dev by <a href="https://www.linkedin.com/in/quentinadadain/" target="_blank"><p class="m-0 linkedin">&nbsp
                Quentin &nbsp</p></a>
        <p class="m-0">&nbsp&&nbsp</p> <a href="https://www.linkedin.com/in/thomasluminic/" target="_blank"><p
                    class="m-0 linkedin">&nbsp Thomas</p></a><p class="m-0">&nbsp - &nbsp</p>
        <a href="https://github.com/Qadadain/Crook-V2" target="_blank">
            <img src="https://zupimages.net/up/20/23/o90c.png" alt="github" style="height: 25px"/></a>
    </div>
</div>
