{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}

{% block body %}
    <div class="">
        <div class=" d-flex justify-content-center">
            <h1>Error 404 </h1>
        </div>
        <div class="text-center d-flex justify-content-center">
            <img src="https://zupimages.net/up/20/19/djhs.jpg" alt="" width="500px">
        </div>
        <div class="blank">
            <h4 class="d-flex justify-content-center">
                Y'a rien ici !
            </h4>
        </div>
        <div class="ml-5">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <a href="{{ path('home') }}">Retour a l'index</a>
            </button>
        </div>
    </div>
{% endblock %}
