{% block body %}
    <div>
        <p>test</p>
    <p>Bonjour,</p>
    <p>Une demande de réinitialisation de mot de passe a été effectuée pour le site crook.fr. Veuillez cliquer sur le lien suivant :</p>
        {{ token }}
    </div>

{% endblock %}